@import "~antd/dist/antd.css";

.paddingData {
  padding-inline-start: 0;
}
.App {
  margin-left: 1em;
}
.TitleName {
  text-align: center;
}

.fileBox,.forksBox {
  margin-top: 1em;
  border: 1px solid grey;
  padding: 1em;
}

.numberFiles {
  font-size: 1em;
  color: #f50;
}
